Source: pybricks-micropython
Maintainer: David Lechner <david@lechnology.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 10), libffi-dev, libgrx-3.0-dev, libi2c-dev,
    libudev-dev, uthash-dev, pkg-config, python, python3
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/pybricks/pybricks-micropython
Vcs-Git: https://github.com/pybricks/pybricks-micropython.git
Homepage: https://pybricks.com

Package: pybricks-micropython
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}, alsa-utils, espeak,
    ev3dev-media (>= 1.2.0), libmagickwand-6.q16-3
Description: Python implementation for microcontrollers and constrained systems
 MicroPython implements the entire Python 3.4 syntax (including exceptions,
 with, yield from, etc., and additionally async/await keywords from Python
 3.5). The following core datatypes are provided: str (including basic Unicode
 support), bytes, bytearray, tuple, list, dict, set, frozenset, array.array,
 collections.namedtuple, classes and instances. Builtin modules include sys,
 time, and struct, etc. Select ports have support for _thread module
 (multithreading). Note that only a subset of Python 3 functionality is
 implemented for the data types and modules.

Package: pybricks-mpy-cross
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python implementation for microcontrollers and constrained systems
 MicroPython implements the entire Python 3.4 syntax (including exceptions,
 with, yield from, etc., and additionally async/await keywords from Python
 3.5). The following core datatypes are provided: str (including basic Unicode
 support), bytes, bytearray, tuple, list, dict, set, frozenset, array.array,
 collections.namedtuple, classes and instances. Builtin modules include sys,
 time, and struct, etc. Select ports have support for _thread module
 (multithreading). Note that only a subset of Python 3 functionality is
 implemented for the data types and modules.
 .
 This package contains the pybricks-mpy-cross tool.
