#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ -Dports/pybricks/bricks/ev3dev

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr

override_dh_auto_clean:
	dh_auto_clean
	make -C mpy-cross clean
